<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Painting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>    
    <div class="row">
        <div class="col-md-12 bg-light text-right">
            <a href="/paintings/new" class="link-primary">Add Painting</a>
            <a href="/dashboard" class="link-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </div>
    
    <div class="d-flex justify-content-around">
        <form action="/painting/update" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-primary">Edit a Painting</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Alert!!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}            
            <div>
                <input type="hidden" name="id" value={{painting.id}}>
                <div>
                    <div class="form-group">
                        <label for="name">Title:</label>
                        <input type="text" name="title" class="form-control" value="{{painting.title}}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea name="description"  class="form-control">{{painting.description}}</textarea>
                    </div>                    
                </div>
                <div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="text" name="price" value="{{painting.price}}" class="form-control">
                    </div>                    
                    <br>
                    <input type="submit" value="Update" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>        
    </div>
</body>
</html>